<!DOCTYPE html>
<head>

	<!-- STYLINGS -->
    <link rel="stylesheet" href="../stylesheets/application.css">
    <link rel="stylesheet" href="../stylesheets/home.css">
	<link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

	<!-- JAVASCRIPT -->
	<script src="../javascript/jquery.min.js"></script>
	<script src="../javascript/jquery_mousewheel_plugin.js"></script>
	<script src="../javascript/jqeury.event.swipe.js"></script>
	
</head>

<body>

	<div class="content">
		<!-- NAME -->
		<div class="name">
			<h1 id="first">Cindy</h1>
			<h1 id="last">Zeng</h1>
		</div>

		<!-- ICONS -->
		<div class="icons">
			<div class="social" id="facebook"></div>
			<div class="social" id="linkedin"></div>
			<div class="social" id="twitter"></div>
			<div class="social" id="email"></div>
		</div>

		<!-- BILLBOARD NAV -->
		<div class="billboard">
			<div class="design">
				<h1 class="motto nav">Design</h1> 
				<h1 class="motto motto-end">&nbsp;Well.</h1>
			</div>
			<div class="code">
				<h1 class="motto nav">Code</h1>
				<h1 class="motto motto-end">&nbsp;Smart.</h1>
			</div>
			<div class="do">
				<h1 class="motto nav">Do</h1>
				<h1 class="motto motto-end">&nbsp;Good.</h1>
			</div>
		</div>

		<!-- LEARN MORE -->
		<div class="projects clickme">
			<div class="welcome">
				<h1>Click to learn more!</h1>
			</div>
		</div>

		<!-- BACK TO TOP -->
		<div class="go-top">
		</div>

	</div>

	<script src="../javascript/home.js"></script>
	<script src="../javascript/application.js"></script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-38364245-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>

